body {
    margin: 0 auto;
}

/*Con esto se va a hacer un grid responsive sin media queries*/
.contenedor_grid{
    display: grid;
    gap: 2rem;
    grid-auto-rows:22rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    background-color: rgb(238, 240, 240);
}
.grid_item {
    grid-column: span 2;
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    padding-left: 6rem;
    align-items: center;
    background-color: aqua;
}
.grid_item p {
    font-size: 3rem;
    color: #fff;
}
.punto {
    width: 1em;
    height: 1em;
    background-color: blue;
    position: absolute;
    left: 1rem;
    top: 2rem;
   
}